doctype html
html
	head
		link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		link(rel="stylesheet" href="main.css" type="text/css")
	body.background
		div.text
			h1 welcome to my site
			a(href='/register') click here to register
			br
			a(href='/login') click here to log in