doctype html
html
	head
		link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		link(rel="stylesheet" href="main.css" type="text/css")
	body.background
		div.navbar
			a(href='./') HOME
			a(href='./wall') WALL
			a(href='./profile') PROFILE
			a(href='/logout') LOGOUT
		div.text2
			h1 welcome to the log in page
			h3 log in here
				form('/register', method='POST', autocomplete='off')
					input(type='text', name='email', minlength="8" placeholder='enter your email' required)
					br
					input(type='password', name='password', minlength="8" placeholder='enter your password' required)
					br
					button.btn.btn-default#register(type='submit', name='submit') LOG IN