doctype html
html
	head
		link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		link(rel="stylesheet" href="main.css" type="text/css")
	body.background
			if user
				div.navbar
					a(href='/') HOME
					a(href='/wall') WALL
					a(href='/profile') PROFILE
					a(href='/logout') LOGOUT
				div.text3
					h3 welcome #{user.email} to your profile page
					h3 your password is #{user.password}
					a(href='/logout') click here to logout
					br
					a(href='/wall') click here to make a post
			else
				div.text3
					p you must enter your login info first!
					a(href='/register')
